node_modules
*.pyc
__pycache__
**.pyc
**node_modules
**migrations
migrations
**db.sqlite3
db.sqlite3
**.cache
.cache
/migrations
../migrations
/cache
**__pyc__

**.cache
**/node_modules
**__pycache__
/__pycache__
!dist